<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Thiago's</title>

  {{!-- CDN Flowbite JS --}}
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

  {{!-- CDN flowbite --}}
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
  {{!-- CDN tailwindcss --}}
  <script src="https://cdn.tailwindcss.com"></script>

  {{!-- Tailwind Config --}}
  <script>
    tailwind.config = {
      darkMode: 'selector', // or 'media' or 'class'
    };
  </script>
</head>